
.v-list-group__items {
  .v-list-item {
    padding-left: 48px !important;
    .v-list-item__icon {
        margin-right: .5rem !important;
    }
  }
}


.app-img-logo-all{
  width: 12.5rem;
}

.app-img-logo-mini{
  width: 1.5rem;
}